
.slideshow-container,
.slideshow-container1,
.slideshow-container2 {
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }
  
    .slideshow-container,
    .slideshow-container1,
    .slideshow-container2 img {
        width: 100%;
        height: auto;
        display: none;
  }
  img {
    height: auto;
    width: 500px;
    margin: 20px;
    border: 30px;
    padding: 20px;
    font: 600;
  }
  .title {
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    background-color: rgb(11, 129, 74);
    display: block;
    padding: 30px;
    margin: 20px;
    border: 5px;
    border-radius: 40px;
    padding-right: 40px;
    flex: 1;
    flex-direction: row;
  }
  .item {
    height: 200px;
    width: 150px;
    display: inline;
    padding: 5px;
    flex: 1,1, auto;
    margin: 80px;
    border: 20px;
    background-color: black;
    align-items:stretch;
  }
  .button {
    size: 50px;
    height: 50px;
    margin: 40px;
    cursor: pointer;
  }
  .button::shadow {
    transform-origin: 10px;
    transition: 3s;
  }
  .body {
    font-family: Georgia, 'Times New Roman', Times, serif;


  }
  li {
    align-items: last baseline;
    background-clip: border-box;
  }
  .detail {
    align-items: center;
  }
  .web-inter {
    display: inline;
    margin: 10px;
    border: 10px;
    padding: auto;
    flex: 1;
    background-color: black;
    margin-inline: 20px;
  }
  .web {
    display: inline;
    flex: 1;
    flex-direction: row-reverse;
    margin: 550px;
    border: 550px;
  }
* {
    padding: 20px;
    margin: 20px;
    border: 4px;
    font-size: 30x;
}
button {
    padding: 20px;
    margin: 20px;
    border: 4px;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    size: 100px;
    display: flex;
    border: 3px;
    inline-size: 10px;
    font-weight: bold;
    background-color: blue;
    size-adjust: 500px;

}
img {
    height: auto;
    width: 250px;
}
li {
    color: blue;
    size-adjust: 20px;
    display: block;
    flex-grow: inherit;
    font-family: Arial, Helvetica, sans-serif;
    
}
.display {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transform-origin: 2%;

}
ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
    align-items: center;
    cursor: pointer;
    content: icon;
    flood-color: brown;
}
